#Ignore Mac DS_Store files
.DS_Store
**/.DS_Store
misc/backup/node_modules/*

web/app/config/development.conf.js
web/app/config/production.conf.js
web/app/config/staging.conf.js

web/node_modules
web/var/*.log
web/public/assets/lib
web/public/files/*
web/test.js
*.log
.vscode
.idea