<input name="image" type="file" id="upload" class="hidden" onchange="">
<section ng-init="vmPost.findOne()">
  <section class="content-header">
    <h1>Post</h1>
  </section>
  <ng-loading loading-done="vmPost.isLoading" />
  <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box box-info">
          <div class="box-body">
            <div ng-if="!vmPost.queryParams.id" class="form-group">
              <a class="btn btn-primary" ng-click="vmPost.create(FormName.$valid, 'save&list')">Save &amp; List</a> &nbsp;&nbsp;
              <a class="btn btn-primary" ng-click="vmPost.create(FormName.$valid, 'apply')">Apply</a>&nbsp;&nbsp;
              <input type="button" value="Cancel" class="btn btn-default" ng-click="vmPost.gotoList()">&nbsp;&nbsp;
            </div>
            <div ng-if="vmPost.queryParams.id" class="form-group">
              <a class="btn btn-primary" ng-click="vmPost.update(FormName.$valid, 'save&list')">Save &amp; List</a> &nbsp;&nbsp;
              <a class="btn btn-primary" ng-click="vmPost.update(FormName.$valid, 'apply')">Apply</a>&nbsp;&nbsp;
              <input type="button" value="Cancel" class="btn btn-default" ng-click="vmPost.gotoList()">&nbsp;&nbsp;
            </div>
          </div>
        </div>
      </div>
      <form novalidate name="FormName">
        <div class="col-md-8">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">{{vmPost.queryParams.id ? 'Edit' : 'New'}} Post</h3>
            </div>

            <div class="box-body">
              <!-- Title -->
              <div class="form-group">
                <label class="control-label" for="title">Title</label>
                <div class="controls">
                  <input type="text" ng-model="vmPost.formData.title" ng-change="vmPost.checkSlug(vmPost.formData.title)" id="title" name="title" class="form-control" placeholder="Title" required>
                </div>
                <div class="error-messages message" ng-messages="FormName.title.$error" ng-messages-multiple ng-if="vmPost.submitted">
                  <error-message/>
                </div>
              </div>

              <!-- Slug -->
              <div class="form-group">
                <label class="control-label" for="slug">Slug</label>
                <div class="controls">
                  <input type="text" ng-model="vmPost.formData.slug" id="slug" name="slug" class="form-control" placeholder="Slug">
                </div>
              </div>

              <!-- teaser -->
              <div class="form-group">
                <label class="control-label" for="teaser">Teaser</label>
                <div class="controls">
                  <textarea class="form-control" name="teaser" ng-model="vmPost.formData.teaser" rows="5"></textarea>
                </div>
              </div>

              <!-- Thumb -->
              <div class="form-group">
                <label class="control-label" for="thumb">Thumb</label>
                <div class="controls">
                  <input type="file" ngf-select ng-model="vmPost.fileTmp.thumb" name="thumb" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-change="vmPost.uploadFile($files, 'single', 'thumb')" >
                </div>
                <div class="content-imgcustom" ng-if="vmPost.allFile.thumb">
                  <img src="{{vmPost.allFile.thumb}}" class="imgcustom responsive">
                  <span ng-click="vmPost.removeImage('single', 'thumb')" class="glyphicon glyphicon-remove remove-imgcustom"></span>
                  <i class="fa fa-crop crop-imgcustom" aria-hidden="true" ng-click="vmPost.cropImage('single', 'thumb')"></i>
                  <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{vmPost.fileProgress.thumb}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vmPost.fileProgress.thumb}}%">
                      <span class="sr-only">{{vmPost.fileProgress.thumb}}% Complete</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- image -->
              <div class="form-group">
                <label class="control-label" for="image">Image</label>
                <div class="controls">
                  <input type="file" ngf-select ng-model="vmPost.fileTmp.image" name="image" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-change="vmPost.uploadFile($files, 'single', 'image')" >
                </div>
                <div class="content-imgcustom" ng-if="vmPost.allFile.image">
                  <img src="{{vmPost.allFile.image}}" class="imgcustom responsive">
                  <span ng-click="vmPost.removeImage('single', 'image')" class="glyphicon glyphicon-remove remove-imgcustom"></span>
                  <i class="fa fa-crop crop-imgcustom" aria-hidden="true" ng-click="vmPost.cropImage('single', 'image')"></i>
                  <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{vmPost.fileProgress.image}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vmPost.fileProgress.image}}%">
                      <span class="sr-only">{{vmPost.fileProgress.image}}% Complete</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Gallery -->
              <div class="form-group">
                <label class="control-label" for="gallery">Gallery</label>
                <div class="controls">
                  <input type="file" ngf-select multiple ng-model="vmPost.fileTmp.gallery" name="gallery" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-change="vmPost.uploadFile($files, 'multi', 'gallery')">
                </div>
                <div class="content-imgcustom" ng-if="vmPost.allFile.gallery" ng-repeat="(key, value) in vmPost.allFile.gallery">
                  <img ng-show="value" src="{{value}}" class="imgcustom responsive">
                  <span ng-click="vmPost.removeImage('multi', 'gallery', key)" ng-show="value" class="glyphicon glyphicon-remove remove-imgcustom"></span>
                  <i class="fa fa-crop crop-imgcustom" aria-hidden="true" ng-click="vmPost.cropImage('multi', 'gallery', key)"></i>
                  <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="{{vmPost.fileProgress.gallery}}" aria-valuemin="0" aria-valuemax="100" style="width: {{vmPost.fileProgress.gallery}}%">
                      <span class="sr-only">{{vmPost.fileProgress.gallery}}% Complete</span>
                    </div>
                  </div>
                </div>
              </div>

              <!-- content -->
              <div class="form-group">
                <label class="control-label" for="content">Content</label>
                <div class="controls">
                  <textarea class="form-control" ui-tinymce="vmPost.tinymceOptions" name="content" ng-model="vmPost.formData.content" rows="5"></textarea>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box box-default">
            <div class="box-body">
              <div class="form-group">
                <label class="control-label" for="member">Categories</label>
                <div class="controls">

                  <ui-select multiple ng-model="vmPost.formData.category" theme="bootstrap" sortable="true" close-on-select="false">
                    <ui-select-match placeholder="Select categories...">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="cate._id as cate in vmPost.categorys">
                      <div ng-bind-html="cate.name | highlight: $select.search"></div>
                      <small>ID: {{cate._id}}</small>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="feature">Feature</label>
                <div class="controls">
                  <select class="form-control" ng-init="vmPost.formData.feature = 1" data-ng-model="vmPost.formData.feature" id="feature" ng-options="item.value as item.name for item in vmPost.features" required>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="status">Status</label>
                <div class="controls">
                  <select class="form-control" ng-init="vmPost.formData.status = 1" ng-model="vmPost.formData.status" id="status" ng-options="item.value as item.name for item in vmPost.statuses" required>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="box box-default">
            <div class="box-body">
              <div class="form-group">
                <label class="control-label" for="meta_title">Meta Title</label>
                <div class="controls">
                  <textarea class="form-control" data-ng-model="vmPost.formData.attrs.title" rows="1"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="meta_desc">Meta Description</label>
                <div class="controls">
                  <textarea class="form-control" data-ng-model="vmPost.formData.attrs.description" rows="2"></textarea>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="meta_desc">Meta Keyword</label>
                <div class="controls">
                  <textarea class="form-control" data-ng-model="vmPost.formData.attrs.keyword" rows="2"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </section>
</section>