<% extends 'web/layouts/layout.html' %>

<% block content %>
    <div id="mod-about">
        <div class="page-header">
            <div class="container">
                <div class="scroll custom-scrollbar" scroll-theme="rounded-dark" style="height: 200px">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                </div>
                <div class="scroll custom-scrollbar" axis="x" advanced="true" style="height: 200px">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis provident, sequi totam aut quibusdam fugiat eveniet accusamus autem, sapiente esse cumque placeat! Reiciendis maiores repellendus nisi, esse doloremque veritatis quia.</p>
                </div>
                <div class="list-fancybox row">
                    <div class="img col-3">
                        <a href="http://via.placeholder.com/350x150" data-fancybox>
                            <img src="http://via.placeholder.com/350x150" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="img col-3">
                        <a href="http://via.placeholder.com/350x150" data-fancybox>
                            <img src="http://via.placeholder.com/350x150" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="img col-3">
                        <a href="http://via.placeholder.com/350x150" data-fancybox>
                            <img src="http://via.placeholder.com/350x150" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="img col-3">
                        <a href="http://via.placeholder.com/350x150" data-fancybox>
                            <img src="http://via.placeholder.com/350x150" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="img col-3">
                        <a href="http://via.placeholder.com/350x150" data-fancybox=""gallery1>
                            <img src="http://via.placeholder.com/350x150" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <$ page.content | safe $>
        </div>
    </div>
<% endblock %>
